Repository taskcluster/taskcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taskcluster/core, @djmitche, @owlishDeveloper, @imbstack, @jhford

update API key
  libraries/typed-env-config/.travis.yml
Owners: @imbstack

Merge pull request #6 from taskcluster/upgrade-libs
  libraries/typed-env-config/package.json
  libraries/typed-env-config/src/config.js
Owners: @imbstack

Improved docs in readme
  libraries/typed-env-config/README.md
Owners: @imbstack

Merge pull request #11 from taskcluster/spring-cleaning
  libraries/typed-env-config/.eslintrc
  libraries/typed-env-config/.taskcluster.yml
  libraries/typed-env-config/.travis.yml
  libraries/typed-env-config/package.json
  libraries/typed-env-config/src/config.js
  libraries/typed-env-config/test/config_test.js
  libraries/typed-env-config/yarn.lock
Owners: @imbstack

test handling of missing booleans
  libraries/typed-env-config/test/config_test.js
  libraries/typed-env-config/test/test-env.yml
Owners: @imbstack

Merge pull request #8 from taskcluster/readme-update
  libraries/typed-env-config/README.md
Owners: @imbstack

Merge pull request #9 from taskcluster/allow-no-options
  libraries/typed-env-config/src/config.js
Owners: @imbstack

Merge pull request #12 from taskcluster/eliperelman-patch-1
  libraries/typed-env-config/.travis.yml
Owners: @imbstack

Merge pull request #5 from taskcluster/assert-options
  libraries/typed-env-config/src/config.js
  libraries/typed-env-config/test/config_test.js
Owners: @imbstack

Lint fixes
  libraries/api/src/middleware/errors.js
  libraries/api/src/middleware/express-error.js
  libraries/api/src/middleware/handle.js
  libraries/client/bin/update-apis.js
  libraries/client/src/client.js
  libraries/eslint-config/index.js
  services/auth/bin/load-test.js
  services/auth/bin/make-check-client.js
  services/auth/test/trie_test.js
  services/purge-cache/bin/verify-prod.js
  services/treeherder/src/transform/artifact_links.js
Owners: @imbstack, @jhford, @owlishDeveloper, @djmitche

WIP
  .taskcluster.yml
  libraries/api/package.json
  libraries/monitor/package.json
  package.json
  test/meta_test.js
  test/mocha.opts
Owners: @taskcluster/core, @imbstack

Not now
  .taskcluster.yml
Owners: @taskcluster/core

Bug 1515140 - (REDO) import taskcluster-builder at infrastructure/builder
  infrastructure/builder/.eslintrc
  infrastructure/builder/.gitignore
  infrastructure/builder/.taskcluster.yml
  infrastructure/builder/CODE_OF_CONDUCT.md
  infrastructure/builder/CONTRIBUTING.md
  infrastructure/builder/LICENSE
  infrastructure/builder/README.md
  infrastructure/builder/build-config.yml
  infrastructure/builder/docs/build-implementation.md
  infrastructure/builder/docs/building-taskcluster.md
  infrastructure/builder/docs/cluster-spec.md
  infrastructure/builder/docs/services.md
  infrastructure/builder/docs/terraform-json.md
  infrastructure/builder/package.json
  infrastructure/builder/src/build/index.js
  infrastructure/builder/src/build/other.js
  infrastructure/builder/src/build/repo.js
  infrastructure/builder/src/build/service.js
  infrastructure/builder/src/build/service/docs-dockerfile.dot
  infrastructure/builder/src/build/service/docs.js
  infrastructure/builder/src/build/service/entrypoint.dot
  infrastructure/builder/src/build/service/heroku-buildpack.js
  infrastructure/builder/src/build/service/heroku-dockerfile.dot
  infrastructure/builder/src/build/service/references.js
  infrastructure/builder/src/build/service/tools-ui-dockerfile.dot
  infrastructure/builder/src/build/service/tools-ui-nginx-site.conf
  infrastructure/builder/src/build/service/tools-ui.js
  infrastructure/builder/src/build/stamp.js
  infrastructure/builder/src/build/utils.js
  infrastructure/builder/src/formats/cluster-spec.js
  infrastructure/builder/src/formats/tf-json.js
  infrastructure/builder/src/main.js
  infrastructure/builder/taskcluster-builder
  infrastructure/builder/taskcluster-spec/build.yml
  infrastructure/builder/test/formats/cluster_spec_test.js
  infrastructure/builder/test/formats/example/build.yml
  infrastructure/builder/test/formats/tf_json_test.js
  infrastructure/builder/test/mocha.opts
  infrastructure/builder/yarn.lock
Owners: @taskcluster/core

Bug 1515140 - integrate tc-builder into monorepo
  .gitignore
  README.md
  build-config.yml
  infrastructure/builder/package.json
  infrastructure/builder/src/build/index.js
  infrastructure/builder/src/main.js
  infrastructure/builder/taskcluster-builder
  package.json
  taskcluster-builder
  yarn.lock
Owners: @taskcluster/core

Add decorator to ask confirmation to leave the page (#329)
  src/components/HookForm/index.jsx
  src/utils/withAlertOnClose.jsx
Owners: @taskcluster/core

Bug 1515140 - support building from a monorepo
  infrastructure/builder/src/build/index.js
  infrastructure/builder/src/build/repo.js
  infrastructure/builder/src/build/service.js
  infrastructure/builder/src/build/service/docs.js
  infrastructure/builder/src/build/service/entrypoint.dot
  infrastructure/builder/src/build/service/heroku-buildpack.js
  infrastructure/builder/src/build/utils.js
  infrastructure/builder/taskcluster-spec/build.yml
Owners: @taskcluster/core

include superagent dep for queue; see taskcluster/taskcluster-queue#308
  services/queue/package.json
Owners: @jhford

Don't treat a binary stream as utf-8
  infrastructure/builder/src/build/utils.js
Owners: @taskcluster/core

Don't autoremove, as it causes container-not-found errors
  infrastructure/builder/src/build/utils.js
Owners: @taskcluster/core

Update withAlertOnClose to Form pages. (#330)
  src/components/ClientForm/index.jsx
  src/components/RoleForm/index.jsx
  src/components/SecretForm/index.jsx
  src/components/Shell/index.jsx
  src/components/VncDisplay/index.jsx
  src/views/Tasks/CreateTask/index.jsx
Owners: @taskcluster/core

#316 move the Create Worker button to the lest (#333)
  src/views/AwsProvisioner/ViewWorkerTypes/index.jsx
Owners: @taskcluster/core

[ErrorPanel] Fix text color for <code> (#334)
  src/theme.js
  src/views/Documentation/index.jsx
  src/views/Tasks/InteractiveConnect/index.jsx
  src/views/Tasks/TaskGroup/index.jsx
  src/views/Tasks/ViewTask/index.jsx
Owners: @taskcluster/core

Bug 1515531 - stop returning stream ID from session.Open
  whproxy/proxy.go
  whproxy/wsproxy.go
  wsmux/bench_test.go
  wsmux/http_test.go
  wsmux/session.go
  wsmux/session_test.go
  wsmux/stream_test.go
Owners: @taskcluster/core

Bug 1515530 - set default value of streamAcceptDeadline correctly
  wsmux/session.go
Owners: @taskcluster/core

Bug 1515530 - fail with 504 when no client is connected with given id
  whproxy/proxy.go
  whproxy/proxy_test.go
Owners: @taskcluster/core

Bug 1515530 - remove logging of frame data and normal data operations
  wsmux/session.go
  wsmux/stream.go
Owners: @taskcluster/core

Bug 1515530 - log to stdout in tests, instead of dropping files in srcdir
  .gitignore
  whclient/client_test.go
  whproxy/proxy_test.go
  wsmux/http_test.go
  wsmux/session_test.go
  wsmux/stream_test.go
  wsmux/util_for_test.go
Owners: @taskcluster/core

Bug 1515530 - remove the need for SetCloseCallback
  whproxy/proxy.go
  wsmux/session.go
Owners: @taskcluster/core

Bug 1515530 - don't use defer unnecessarily
  wsmux/session.go
Owners: @taskcluster/core

Bug 1515530 - fix keepalive so it can actually fail
  wsmux/session.go
Owners: @taskcluster/core

Bug 1515530 - fix handling of host header in non-domain-hosted mode
  whproxy/proxy.go
  whproxy/proxy_test.go
Owners: @taskcluster/core

Bug 1515530 - don't send msgACK until the stream has been accepted
  wsmux/errors.go
  wsmux/session.go
Owners: @taskcluster/core

Bug 1515530 - rename frame.Write to frame.Serialize
  wsmux/frame.go
  wsmux/session.go
Owners: @taskcluster/core

Bug 1515530 - don't return an error from Session.abort
  wsmux/session.go
Owners: @taskcluster/core

Bug 1515530 - search for available streamId, allowing wrapping
  wsmux/session.go
Owners: @taskcluster/core

Bug 1515530 - make stream methods that are not in net.Conn private
  wsmux/session.go
  wsmux/stream.go
Owners: @taskcluster/core

Bug 1515530 - refactor to keep de/serialization of frames together
  wsmux/frame.go
  wsmux/session.go
Owners: @taskcluster/core

include comment describing tcUrls.API call
  routes.go
Owners: @taskcluster/core

Version bump from 4.1.1 to 5.0.0
  main.go
Owners: @taskcluster/core

update README for testing
  README.md
Owners: @taskcluster/core

.github/CODEOWNERS:

* @taskcluster/core

services/auth @djmitche
services/events @djmitche
services/github @owlishDeveloper
services/hooks @djmitche
services/index @djmitche
services/login @djmitche
services/notify @imbstack
services/purge-cache @imbstack
services/queue @jhford
services/secrets @djmitche
services/treeherder @imbstack

libraries/eslint-config @owlishDeveloper
libraries/client @jhford
libraries/api @imbstack
libraries/app @imbstack
libraries/azure @djmitche
libraries/docs @imbstack
libraries/iterate @jhford
libraries/loader @imbstack
libraries/monitor @imbstack
libraries/pulse @djmitche
libraries/references @djmitche
libraries/scopes @djmitche
libraries/testing @djmitche
libraries/validate @imbstack
libraries/typed-env-config @imbstack
