Repository taskcluster/taskcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taskcluster/services-reviewers, @taskcluster/frontend-reviewers, @taskcluster/worker-reviewers

Bug 1546686 - include parent env for docker-worker
  worker/dockerworker/dockerworker.go
Owners: @taskcluster/services-reviewers

no references to tools.taskcluster.net
  test/meta_test.js
Owners: @taskcluster/services-reviewers

no references to tools.taskcluster.net
  test/meta_test.js
Owners: @taskcluster/services-reviewers

Add a dialogs section to ui best practices
  dev-docs/best-practices/ui.md
Owners: @taskcluster/services-reviewers

Modify ui to respect best practices re: dialogs
  ui/src/components/DialogAction/index.jsx
  ui/src/components/HookForm/index.jsx
  ui/src/views/Tasks/TaskGroup/index.jsx
  ui/src/views/Tasks/ViewTask/index.jsx
Owners: @taskcluster/frontend-reviewers

Nit to comment
  dev-docs/best-practices/ui.md
Owners: @taskcluster/services-reviewers

Bug 1563341 - add workerManager.createWorker and removeWorker
  changelog/bug1563341.md
  clients/client-go/tcworkermanager/tcworkermanager.go
  clients/client-go/tcworkermanager/types.go
  clients/client-py/README.md
  clients/client-py/taskcluster/generated/aio/workermanager.py
  clients/client-py/taskcluster/generated/workermanager.py
  clients/client-web/src/clients/WorkerManager.js
  clients/client/src/apis.js
  generated/references.json
  services/worker-manager/schemas/v1/create-worker-request.yml
  services/worker-manager/src/api.js
  services/worker-manager/src/providers/google.js
  services/worker-manager/src/providers/provider.js
  services/worker-manager/src/providers/testing.js
  services/worker-manager/test/api_test.js
Owners: @taskcluster/services-reviewers, @taskcluster/worker-reviewers, @taskcluster/frontend-reviewers

v0.2.1
  version.go
Owners: @taskcluster/services-reviewers

Add changelog.
  changelog/github-scheduler.md
Owners: @taskcluster/services-reviewers

Add more detail to the changelog
  changelog/github-scheduler.md
Owners: @taskcluster/services-reviewers

Add a note to the documentation
  ui/docs/reference/integrations/github/taskcluster-yml-v1.md
Owners: @taskcluster/frontend-reviewers

minor issues resolved
  ui/src/components/DialogAction/index.jsx
  ui/src/components/RoleForm/index.jsx
  ui/src/views/Roles/ViewRole/index.jsx
Owners: @taskcluster/frontend-reviewers

Bug 1564852 - enable linux multiuser builds, but don't test or release them
  .taskcluster.yml
  .travis.yml
  build.sh
  generated_multiuser_linux.go
  main.go
  multiuser.go
  multiuser_posix.go
  multiuser_windows.go
  runtime/runtime_darwin.go
  runtime/runtime_linux.go
  runtime/runtime_windows.go
Owners: @taskcluster/services-reviewers

whitelist added
  test/meta_test.js
Owners: @taskcluster/services-reviewers

fixed lint
  test/meta_test.js
Owners: @taskcluster/services-reviewers

Bug 1564122 - update md-directory
  generated/docs-table-of-contents.json
  infrastructure/builder/src/generate/generators/docs-tocs.js
  package.json
  ui/package.json
  ui/yarn.lock
  yarn.lock
Owners: @taskcluster/services-reviewers, @taskcluster/frontend-reviewers

removed handleDialogActionError from viewRole
  ui/src/views/Roles/ViewRole/index.jsx
Owners: @taskcluster/frontend-reviewers

Document provider implementation a markdown file
  services/worker-manager/README.md
  services/worker-manager/providers.md
  services/worker-manager/src/providers/provider.js
Owners: @taskcluster/services-reviewers

Update deepspeech-win with deepspeech-win-b changes
  worker_types/deepspeech-win/userdata
Owners: @taskcluster/services-reviewers

Bug 1564831 - require GW_SKIP_* env vars to be set to skip tests
  .taskcluster.yml
  README.md
  build.sh
  gotestcover.sh
  helper_test.go
  main_test.go
  mounts_test.go
  mounts_windows_test.go
  multiuser_test.go
  taskcluster_proxy_broken_on_docker_test.go
  tcproxy/tcproxy_test.go
  testutil/testutil.go
Owners: @taskcluster/services-reviewers

Adjust pulse message structure, and add tests for tags.
  clients/client-go/tcqueueevents/types.go
  generated/references.json
  services/queue/schemas/v1/task-completed-message.yml
  services/queue/schemas/v1/task-defined-message.yml
  services/queue/schemas/v1/task-exception-message.yml
  services/queue/schemas/v1/task-failed-message.yml
  services/queue/schemas/v1/task-pending-message.yml
  services/queue/src/api.js
  services/queue/test/createtask_test.js
  services/queue/test/resolvetask_test.js
Owners: @taskcluster/worker-reviewers, @taskcluster/services-reviewers

Add missing pieces
  ui/src/components/RoleForm/index.jsx
  ui/src/views/Roles/ViewRole/index.jsx
Owners: @taskcluster/frontend-reviewers

Remove focusOnSecondary - it's now set by default
  ui/src/components/RoleForm/index.jsx
Owners: @taskcluster/frontend-reviewers

Remove dialogError for when the role form is new
  ui/src/views/Roles/ViewRole/index.jsx
Owners: @taskcluster/frontend-reviewers

Rename handleActionDialogError for consistency
  ui/src/views/Roles/ViewRole/index.jsx
Owners: @taskcluster/frontend-reviewers

Rename handleActionDialogClose for consistency
  ui/src/views/Roles/ViewRole/index.jsx
Owners: @taskcluster/frontend-reviewers

Bug 1565215 - include timezone in log timestamps and set to UTC
  logging.go
  main.go
Owners: @taskcluster/services-reviewers

updatig test
  test/meta_test.js
Owners: @taskcluster/services-reviewers

Fix 'Go to Line' functionality when 'Follow Log' is enabled (#984)
  ui/src/components/Log/index.jsx
Owners: @taskcluster/frontend-reviewers

reverting some file name
  ui/docs/README.md
  ui/docs/people.md
  ui/docs/resources.md
Owners: @taskcluster/frontend-reviewers

Fixed Broken Links
  CONTRIBUTING.md
Owners: @taskcluster/services-reviewers

Fixed Broken Links
  CONTRIBUTING.md
Owners: @taskcluster/services-reviewers

[UI] Add confirmation step for roles when deleting (#971)
  ui/src/components/DialogAction/index.jsx
  ui/src/components/RoleForm/index.jsx
  ui/src/views/Roles/ViewRole/index.jsx
Owners: @taskcluster/frontend-reviewers

Document worker-manager / worker interaction
  generated/docs-table-of-contents.json
  ui/docs/reference/core/worker-manager/README.md
  ui/docs/reference/core/worker-manager/worker-interaction.md
Owners: @taskcluster/services-reviewers, @taskcluster/frontend-reviewers

Add a link from provider.js to providers.md
  services/worker-manager/src/providers/provider.js
Owners: @taskcluster/services-reviewers

Provide user-oriented docs for providers
  deployment-docs/clouds.md
  generated/docs-table-of-contents.json
  ui/docs/reference/core/worker-manager/google.md
  ui/docs/reference/core/worker-manager/static.md
Owners: @taskcluster/services-reviewers, @taskcluster/frontend-reviewers

add a security best-practice
  dev-docs/best-practices/security.md
Owners: @taskcluster/services-reviewers

Updated with good first issue
  CONTRIBUTING.md
Owners: @taskcluster/services-reviewers

Bug 1565338 - add current-task-user.json and next-task-user.json to .gitignore
  .gitignore
Owners: @taskcluster/services-reviewers

Version bump from 15.1.0 to 15.1.1
  README.md
  main.go
  worker_types/deepspeech-win-b/userdata
  worker_types/deepspeech-win-gpu-b/userdata
  worker_types/deepspeech-win-gpu/userdata
  worker_types/deepspeech-win/userdata
  worker_types/nss-win2012r2-new/userdata
  worker_types/nss-win2012r2/userdata
  worker_types/win2012r2-cu/userdata
  worker_types/win2012r2/userdata
  worker_types/win2016/userdata
Owners: @taskcluster/services-reviewers

.github/CODEOWNERS:

* @taskcluster/services-reviewers

services/web-server @taskcluster/frontend-reviewers
clients/client-web @taskcluster/frontend-reviewers
clients/client-go @taskcluster/worker-reviewers
ui @taskcluster/frontend-reviewers
