Repository taskcluster/taskcluster, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taskcluster/services-reviewers, @taskcluster/frontend-reviewers, @taskcluster/worker-reviewers

.github/CODEOWNERS:

* @taskcluster/services-reviewers

services/web-server @taskcluster/frontend-reviewers
clients/client-web @taskcluster/frontend-reviewers
clients/client-go @taskcluster/worker-reviewers
ui @taskcluster/frontend-reviewers

Added 15.1.1 release notes
  README.md
Owners: @taskcluster/services-reviewers

mention authorizedScopes in sec best-practice doc
  dev-docs/best-practices/security.md
Owners: @taskcluster/services-reviewers

Document decision tasks as a convention
  ui/docs/manual/design/conventions/README.md
  ui/docs/manual/design/conventions/decision-task.md
  ui/docs/manual/using/artifacts.md
  ui/docs/manual/using/scheduled-tasks.md
  ui/docs/manual/using/task-graph.md
Owners: @taskcluster/frontend-reviewers

Added autoFocus, and removed the ternary operator
  ui/src/components/RoleForm/index.jsx
Owners: @taskcluster/frontend-reviewers

Add missing parenthesis
  ui/src/components/RoleForm/index.jsx
Owners: @taskcluster/frontend-reviewers

Bug #825: Added autoFocus, and removed the ternary operator (#962)
  ui/src/components/RoleForm/index.jsx
Owners: @taskcluster/frontend-reviewers

document actions as a convention
  ui/docs/manual/design/conventions/actions/README.md
  ui/docs/manual/design/conventions/actions/guidelines.md
  ui/docs/manual/design/conventions/actions/spec.md
  ui/docs/manual/design/conventions/actions/ui.md
  ui/docs/manual/using/actions.md
Owners: @taskcluster/frontend-reviewers

Treat log file names as a convention
  generated/docs-table-of-contents.json
  ui/docs/manual/design/conventions/task-logs.md
  ui/docs/manual/tasks/artifacts.md
  ui/docs/manual/using/actions.md
Owners: @taskcluster/services-reviewers, @taskcluster/frontend-reviewers

(hotfix) use a heading for conventions
  ui/docs/manual/design/conventions/README.md
Owners: @taskcluster/frontend-reviewers

Updated DocsSidebarList.jsx
  ui/src/components/Dashboard/DocsSidebarList.jsx
Owners: @taskcluster/frontend-reviewers

Updated DocsSidebarList.jsx
  ui/src/components/Dashboard/DocsSidebarList.jsx
Owners: @taskcluster/frontend-reviewers

Bug 1523807 - convert to go modules
  clients/client-shell/go.mod
  clients/client-shell/go.sum
  clients/client-shell/vendor/vendor.json
Owners: @taskcluster/services-reviewers

Bug 1523807 - remove top-level files
  clients/client-shell/.travis.yml
  clients/client-shell/CODE_OF_CONDUCT.md
  clients/client-shell/CONTRIBUTING.md
  clients/client-shell/LICENSE
Owners: @taskcluster/services-reviewers

Update DocsSidebarList.jsx
  ui/src/components/Dashboard/DocsSidebarList.jsx
Owners: @taskcluster/frontend-reviewers

Bug 1523807 - use new go pkg paths
  clients/client-shell/Makefile
  clients/client-shell/apis/_codegen/fetch-apis.go
  clients/client-shell/apis/codegen.go
  clients/client-shell/apis/codegen_test.go
  clients/client-shell/apis/provider.go
  clients/client-shell/apis/provider_test.go
  clients/client-shell/apis/services.go
  clients/client-shell/cmds/completions/completions.go
  clients/client-shell/cmds/config/config.go
  clients/client-shell/cmds/config/help.go
  clients/client-shell/cmds/config/reset.go
  clients/client-shell/cmds/config/set.go
  clients/client-shell/cmds/config/utils.go
  clients/client-shell/cmds/from-now/from_now.go
  clients/client-shell/cmds/group/group.go
  clients/client-shell/cmds/group/utils.go
  clients/client-shell/cmds/pulse/inspect_pulse.go
  clients/client-shell/cmds/pulse/wait-for.go
  clients/client-shell/cmds/shell/cmd.go
  clients/client-shell/cmds/signin/signin.go
  clients/client-shell/cmds/slugid/slugid.go
  clients/client-shell/cmds/status/status.go
  clients/client-shell/cmds/task/run.go
  clients/client-shell/cmds/task/task.go
  clients/client-shell/cmds/task/utils.go
  clients/client-shell/cmds/version/version.go
  clients/client-shell/config/init.go
  clients/client-shell/go.mod
  clients/client-shell/go.sum
  clients/client-shell/main.go
  clients/client-shell/pkg/docker-exec-ws/shellclient.go
  clients/client-shell/subtree_imports.go
Owners: @taskcluster/services-reviewers

Bug 1523807 - use latest TC client
  clients/client-shell/client/credentials.go
  clients/client-shell/client/credentials_test.go
  clients/client-shell/cmds/config/config.go
  clients/client-shell/cmds/group/actors.go
  clients/client-shell/cmds/group/actors_test.go
  clients/client-shell/cmds/group/utils.go
  clients/client-shell/cmds/pulse/wait-for.go
  clients/client-shell/cmds/signin/signin.go
  clients/client-shell/cmds/task/actors.go
  clients/client-shell/cmds/task/actors_test.go
  clients/client-shell/cmds/task/fetchers.go
  clients/client-shell/cmds/task/fetchers_test.go
  clients/client-shell/cmds/task/run.go
  clients/client-shell/cmds/task/utils.go
  clients/client-shell/cmds/task/utils_test.go
  clients/client-shell/go.mod
  clients/client-shell/go.sum
Owners: @taskcluster/services-reviewers

Bug 1523807 - fix tests
  clients/client-shell/cmds/task/fetchers_test.go
Owners: @taskcluster/services-reviewers

Bug 1523807 - remove code depending on old tc-worker
  clients/client-shell/cmds/shell/cmd.go
  clients/client-shell/cmds/shell/tty_unix.go
  clients/client-shell/cmds/shell/tty_unsupported.go
  clients/client-shell/go.mod
  clients/client-shell/go.sum
  clients/client-shell/pkg/docker-exec-ws/doc.go
  clients/client-shell/pkg/docker-exec-ws/messages.go
  clients/client-shell/pkg/docker-exec-ws/shellclient.go
  clients/client-shell/pkg/iopipes/doc.go
  clients/client-shell/pkg/iopipes/drainingpipe.go
  clients/client-shell/pkg/iopipes/drainingpipe_test.go
  clients/client-shell/pkg/iopipes/infinitepipe.go
  clients/client-shell/pkg/iopipes/infinitepipe_test.go
  clients/client-shell/subtree_imports.go
Owners: @taskcluster/services-reviewers

Bug 1523807 - remove status command
  clients/client-shell/cmds/status/status.go
  clients/client-shell/cmds/status/status_test.go
  clients/client-shell/go.sum
  clients/client-shell/subtree_imports.go
Owners: @taskcluster/services-reviewers

Bug 1523807 - remove pulse commands that depend on unmaintained events service
  clients/client-shell/cmds/pulse/inspect_pulse.go
  clients/client-shell/cmds/pulse/wait-for.go
  clients/client-shell/go.mod
  clients/client-shell/go.sum
  clients/client-shell/subtree_imports.go
Owners: @taskcluster/services-reviewers

Bug 1523807 - manage client-shell version during release
  clients/client-shell/cmds/version/version.go
  clients/client-shell/go.mod
  clients/client-shell/go.sum
  infrastructure/builder/src/release/tasks.js
Owners: @taskcluster/services-reviewers

Bug 1523807 - update dependencies
  clients/client-shell/go.mod
  clients/client-shell/go.sum
Owners: @taskcluster/services-reviewers

Bug 1523807 - incorporate client-shell into .taskcluster.yml
  .taskcluster.yml
  clients/client-shell/.taskcluster.yml
Owners: @taskcluster/services-reviewers

Bug 1523807 - require a root URL
  clients/client-shell/apis/codegen_test.go
  clients/client-shell/apis/definitions/definitions.go
  clients/client-shell/apis/provider.go
  clients/client-shell/apis/provider_test.go
  clients/client-shell/apis/services.go
  clients/client-shell/cmds/config/config.go
  clients/client-shell/cmds/group/actors.go
  clients/client-shell/cmds/group/actors_test.go
  clients/client-shell/cmds/signin/signin.go
  clients/client-shell/cmds/task/fetchers.go
  clients/client-shell/cmds/task/fetchers_test.go
  clients/client-shell/cmds/task/run.go
  clients/client-shell/config/init.go
Owners: @taskcluster/services-reviewers

Bug 1523807 - update to refer to tc-cli as the shell client
  clients/client-shell/README.md
  clients/client-shell/cmds/config/config.go
  clients/client-shell/cmds/root/command.go
Owners: @taskcluster/services-reviewers

Bug 1523807 - remove Makefile
  clients/client-shell/Makefile
Owners: @taskcluster/services-reviewers

version is no longer in-tree for deployment
  infrastructure/builder/src/release/tasks.js
Owners: @taskcluster/services-reviewers

Bug 1523807 - fix lint
  clients/client-shell/apis/codegen.go
  clients/client-shell/apis/codegen_test.go
  clients/client-shell/apis/provider.go
  clients/client-shell/apis/provider_test.go
  clients/client-shell/client/credentials_test.go
  clients/client-shell/cmds/completions/completions.go
  clients/client-shell/cmds/group/actors.go
  clients/client-shell/cmds/group/actors_test.go
  clients/client-shell/cmds/signin/signin.go
  clients/client-shell/cmds/task/actors.go
  clients/client-shell/cmds/task/actors_test.go
  clients/client-shell/cmds/task/fetchers.go
  clients/client-shell/cmds/task/fetchers_test.go
  clients/client-shell/cmds/task/run.go
Owners: @taskcluster/services-reviewers

Bug 1523807 - add changelog
  changelog/bug1523807.md
Owners: @taskcluster/services-reviewers
