Repository taskcluster/taskcluster, pull requests merged in 2019-05, with the labels that each got.

#694 Switch from deprecated code to status
  services/github/src/handlers.js
  services/github/test/github-auth.js
Labels: github

#693 Sort tasks topologically
  services/github/src/handlers.js
  services/github/src/tc-yaml.js
  services/github/test/data/configs/taskcluster.dependencies.v1.yml
  services/github/test/intree_test.js
Labels: github

#727 Worker Table for the worker manager UI
  services/web-server/src/graphql/WorkerManager.graphql
  services/web-server/src/loaders/workerManager.js
  services/web-server/src/resolvers/WorkerManager.js
  ui/src/components/WMWorkerTypesTable/index.jsx
  ui/src/components/WMWorkersTable/index.jsx
  ui/src/utils/prop-types.js
  ui/src/views/WorkerManager/WMViewWorkerTypes/WMWorkerTypes.graphql
  ui/src/views/WorkerManager/WMViewWorkerTypes/index.jsx
  ui/src/views/WorkerManager/WMViewWorkers/WMWorkers.graphql
  ui/src/views/WorkerManager/WMViewWorkers/index.jsx
  ui/src/views/WorkerManager/WorkerManagerViewWorkers/WorkerManagerWorkers.graphql
  ui/src/views/WorkerManager/WorkerManagerViewWorkers/index.jsx
  ui/src/views/WorkerManager/routes.js
Labels: :baby_chick: worker-manager :baby_chick:

#736 Google provider for worker-manager
  clients/client-web/src/clients/WorkerManager.js
  clients/client-web/src/clients/WorkerManagerEvents.js
  clients/client-web/src/index.js
  clients/client/src/apis.js
  generated/references.json
  infrastructure/terraform/auth-service.tf
  infrastructure/terraform/variables.tf
  infrastructure/terraform/worker-manager-service.tf
  libraries/references/src/validate.js
  services/worker-manager/Procfile
  services/worker-manager/README.md
  services/worker-manager/config.yml
  services/worker-manager/procs.yml
  services/worker-manager/schemas/v1/config-google.yml
  services/worker-manager/schemas/v1/config-static.yml
  services/worker-manager/schemas/v1/config-testing.yml
  services/worker-manager/schemas/v1/create-workertype-request.yml
  services/worker-manager/schemas/v1/credentials-google-request.yml
  services/worker-manager/schemas/v1/pulse-workertype-message.yml
  services/worker-manager/schemas/v1/temp-creds-response.yml
  services/worker-manager/schemas/v1/workertype-full.yml
  services/worker-manager/schemas/v1/workertype-list.yml
  services/worker-manager/src/api.js
  services/worker-manager/src/data.js
  services/worker-manager/src/estimator.js
  services/worker-manager/src/exchanges.js
  services/worker-manager/src/fake-google.js
  services/worker-manager/src/main.js
  services/worker-manager/src/monitor.js
  services/worker-manager/src/provider.js
  services/worker-manager/src/provider_google.js
  services/worker-manager/src/provider_static.js
  services/worker-manager/src/provider_testing.js
  services/worker-manager/src/provisioner.js
  services/worker-manager/src/worker-scanner.js
  services/worker-manager/test/api_test.js
  services/worker-manager/test/helper.js
  services/worker-manager/test/provider_google_test.js
  services/worker-manager/test/provisioner_test.js
Labels: :baby_chick: worker-manager :baby_chick:, work-in-progress

#804 Add tests for listWorkerTypes
  services/worker-manager/schemas/v1/pulse-worker-pool-message.yml
  services/worker-manager/src/api.js
  services/worker-manager/test/api_test.js
Labels: :baby_chick: worker-manager :baby_chick:

#817 Rename worker type --> worker pool in web ui and web server
  services/web-server/src/graphql/WorkerManager.graphql
  services/web-server/src/loaders/workerManager.js
  services/web-server/src/resolvers/WorkerManager.js
  ui/src/components/WMWorkerPoolsTable/index.jsx
  ui/src/components/WMWorkersTable/index.jsx
  ui/src/utils/prop-types.js
  ui/src/views/WorkerManager/WMViewWorkerPools/WMWorkerPools.graphql
  ui/src/views/WorkerManager/WMViewWorkerPools/index.jsx
  ui/src/views/WorkerManager/WMViewWorkerTypes/index.jsx
  ui/src/views/WorkerManager/WMViewWorkers/WMWorkers.graphql
  ui/src/views/WorkerManager/WMViewWorkers/index.jsx
  ui/src/views/WorkerManager/routes.js
Labels: :baby_chick: worker-manager :baby_chick:
